<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Procurar pelo nome"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          (click)="searchTitle()"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Lista de Usuarios</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let usuario of usuario; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveUsuario(usuario, i)"
      >
        {{ usuario.nome }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllUsuario()">
      Remover
    </button>
  </div>
  <div class="col-md-6">
    <app-usuario-details
      [viewMode]="true"
      [currentUsuario]="currentUsuario"
    ></app-usuario-details>
  </div>
</div>
