 <html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desafio Técnico: Cadastro de Usuários</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
 
 
</head>
<body>
  <div class="container">
    <div class="image-column">
      <img src="/assets/images/Logo_Horizontal_Colorida.png" alt="FirstDecion" />
    </div>
    <div class="text-column">
      <h1>Desafio Técnico: Cadastro de Usuários</h1>
      <p>No intuito de enfrentar os desafios propostos por firstDecision no desenvolvimento Java + Angular, mergulhei de cabeça na missão de criar um sistema de cadastro de usuários que faria até Douglas Adams se orgulhar. Preparem-se, porque aqui está a jornada cósmica que percorri:</p>
      <p>No universo Angular, desbravei os confins do código para erguer uma página de registro de usuários. Equipada com campos para nome, e-mail, senha e a confirmação desta, ela se tornou o palco de uma batalha épica contra os erros. Afinal, ninguém quer um usuário chamado "Zaphod" tentando se inscrever com um e-mail de Vogon, não é mesmo? Implementei validações galácticas para garantir que apenas os dados mais estelares pudessem passar. E o botão de envio? Ah, esse só se habilita quando não há erros no horizonte.</p>
      <p>Mas não pensem que parei por aí! No reino do Java/Spring, ergui uma API RESTful capaz de processar o cadastro de usuários com a precisão de um tiro de laser. Essa API não só valida os dados enviados, incluindo a confirmação da senha, mas também os guarda com segurança em um banco de dados PostgreSQL. Como um verdadeiro mestre Jedi, implementei respostas Jedi-worthy para o front-end, indicando sucesso ou falha no registro.</p>
      <p>E para garantir que a Força estivesse sempre comigo, escrevi testes unitários dignos (ou quase dignos) de um guerreiro Jedi. Testei se os dados eram validados corretamente, se eram armazenados no banco de dados e se as validações na página Angular estavam funcionando conforme o esperado. Nada passaria despercebido pelos olhos atentos do meu sabre de luz... digo, dos meus testes!</p>
      <p>E como em uma épica jornada pelo hiperespaço, integrei a página Angular com a API Java, permitindo que os dados fossem enviados para o backend em uma viagem sem turbulências. E para lidar com qualquer imprevisto pelo caminho, implementei um sistema de alertas na página Angular. Assim, mesmo se um asteroide ou um Vogon mal-humorado cruzassem nosso caminho, a experiência do usuário permaneceria mais suave do que o trânsito em Mos Eisley.</p>
    </div>
  </div>
</body>
</html>
 
