<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desafio Técnico: Cadastro de Usuários</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Desafio Técnico: Cadastro de Usuários</h1>
    <p>Eu busquei implementar as funcionalidades descritas no desafio de desenvolvimento Java + Angular, focando especialmente no cadastro de usuários. Para isso, eu segui as diretrizes estabelecidas:</p>
    <p>No lado do Angular, criei uma página de registro de usuário com campos para nome, e-mail, senha e confirmação de senha, incluindo validações para garantir que os dados inseridos atendam aos critérios especificados, como comprimento mínimo e máximo para o nome e a senha, e que o e-mail seja válido. Também desabilitei o botão de envio enquanto houver erros de validação.</p>
    <p>No lado do Java / Spring, desenvolvi uma API RESTful para processar o registro de usuários. Esta API valida os dados recebidos da solicitação, incluindo a confirmação de senha, e armazena os usuários registrados em um banco de dados PostgreSQL. Além disso, implementei respostas apropriadas para o front-end, indicando sucesso ou erro no registro.</p>
    <p>Para garantir a qualidade do código, escrevi testes unitários tanto para a API Java quanto para a página Angular. Esses testes verificam se os dados são validados corretamente, se são armazenados no banco de dados e se as validações e o comportamento do botão de envio na página Angular estão funcionando conforme o esperado.</p>
    <p>Por fim, integrei a página de registro Angular com a API Java, permitindo que os dados do formulário sejam enviados para o back-end. Também implementei um tratamento de erro adequado na página Angular para lidar com falhas na comunicação com o back-end, garantindo uma experiência mais robusta para o usuário final.</p>
  
  </div>
</body>
</html>
