<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Usuário</title>
  <style>
    .error {
      background-color: #ffcccc; /* Cor de fundo vermelha */
    }
  </style>
</head>
<body>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Nome</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="usuario.nome"
          name="title"
          [ngClass]="{'error': !usuario.nome && showAlertCadastro}"  
        />
      </div>

      <div class="form-group">
        <label for="description">Cargo</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="usuario.cargo"
          name="cargo"
          [ngClass]="{'error': !usuario.cargo && showAlertCadastro}"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          required
          [(ngModel)]="usuario.email"
          name="email"
          [ngClass]="{'error': (!usuario.email || !isEmailValid()) && showAlertCadastro}"
        />
        <div *ngIf="!usuario.email && showAlertCadastro" class="text-danger">
          Email é obrigatório.
        </div>
        <div *ngIf="isEmailValid() === false " class="text-danger">
          O formato do email é inválido.
        </div>
        
      </div>
      

      <div class="form-group">
        <label for="password">Senha</label>
        <input
          type="password"
          class="form-control"
          id="password"
          [(ngModel)]="usuario.senha"
          name="password"
          [ngClass]="{'error': !usuario.senha && showAlert || (usuario.senha && usuario.senha.length < 6) || (usuario.senha && usuario.senha.length > 20)}"
        />
        <div *ngIf="!usuario.senha && showAlert" class="text-danger">
          Senha é obrigatória.
        </div>
        <div *ngIf="usuario.senha && usuario.senha.length < 6" class="text-danger">
          A senha deve ter pelo menos 6 caracteres.
        </div>
        <div *ngIf="usuario.senha && usuario.senha.length > 20" class="text-danger">
          A senha deve ter no máximo 20 caracteres.
        </div>
    </div>
    
      
      

      <div class="form-group">
        <label for="confirmPassword"><i>Confirme a Senha</i></label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          required
          [(ngModel)]="confirmSenha"
          name="confirmPassword"
          [ngClass]="{'error': !confirmSenha && showAlert}"
        />
      </div>

      <button (click)="saveUsuario()" class="btn btn-success" [disabled]="!isFormValid()">Cadastrar</button>


      <!-- Alertas para campos vazios ou senhas diferentes -->
      <div *ngIf="showAlert" class="text-danger">
        As senhas não conferem
      </div>
      <div *ngIf="showAlertCadastro" class="text-danger">
        Preencha os campos sinalizados!
      </div>
    </div>

    <div *ngIf="submitted" style="text-align: center;">
      <h4>Usuário foi adicionado com sucesso!</h4>
      <button class="btn btn-success" (click)="newUsuario()">Adicionar novo Usuário?</button>
    </div>
    
  </div>
</body>
</html>
