<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Usuário</title>
  <style>
    .error {
      background-color: #ffcccc; /* Cor de fundo vermelha */
    }
  </style>
</head>
<body>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Nome</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="usuario.nome"
          name="title"
          [ngClass]="{'error': !usuario.nome && showAlert}"  
        />
      </div>

      <div class="form-group">
        <label for="description">Cargo</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="usuario.cargo"
          name="cargo"
          [ngClass]="{'error': !usuario.cargo && showAlert}"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          required
          minlength="6"
          maxlength="20"
          [(ngModel)]="usuario.email"
          name="email"
          [ngClass]="{'error': !usuario.email && showAlert}"
        />
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input
          type="password"
          class="form-control"
          id="password"
          required
          [(ngModel)]="usuario.senha"
          name="password"
          [ngClass]="{'error': !usuario.senha && showAlert}"
        />
      </div>

      <div class="form-group">
        <label for="confirmPassword"><i>Confirme a Senha</i></label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          required
          [(ngModel)]="confirmSenha"
          name="confirmPassword"
          [ngClass]="{'error': !confirmSenha && showAlert}"
        />
      </div>

      <button (click)="saveUsuario()" class="btn btn-success">Cadastrar</button>

      <!-- Alertas para campos vazios ou senhas diferentes -->
      <div *ngIf="showAlert" class="text-danger">
        Por favor, preencha todos os campos corretamente.
      </div>
    </div>

    <div *ngIf="submitted" style="text-align: center;">
      <h4>Usuário foi adicionado com sucesso!</h4>
      <button class="btn btn-success" (click)="newUsuario()">Adicionar novo Usuário?</button>
    </div>
    
  </div>
</body>
</html>
