<div *ngIf="viewMode; else editable">
  <div *ngIf="currentUsuario.id">
    <h4>Usuario</h4>
    <div>
      <label><strong>Nome:</strong></label> {{ currentUsuario.nome }}
    </div>
    <div>
      <label><strong>Cargo:</strong></label>
      {{ currentUsuario.cargo }}
    </div>
 <!--    <div>
      <label><strong>Status:</strong></label>
      {{ currentUsuario.published ? "Ativo" : "Pendente" }}
    </div> -->

  <!--   <a
      class="badge badge-warning"
      routerLink="/usuario/{{ currentUsuario.id }}"
    >
      Editar
    </a> -->
  </div>

  <div *ngIf="!currentUsuario">
    <br />
    <p>Selecione Usuario...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentUsuario.id" class="edit-form">
    <h4>Usuario</h4>
    <form>
      <div class="form-group">
        <label for="title">Nome</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentUsuario.nome"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Cargo</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentUsuario.cargo"
          name="description"
        />
      </div>

      <!-- <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentUsuario.published ? "Publicado" : "Pendente" }}
      </div> -->
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentUsuario.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentUsuario.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publicar
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteUsuario()">
      Excluir
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateUsuario()"
    >
      Atualizar
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentUsuario.id">
    <br />
    <p>Nao pode acessar usuario...</p>
  </div>
</ng-template>
